# Virtual Environment - very important to ignore
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# IDE specific settings
.idea/

# Large datasets - should not be on GitHub
data/BreaKHis_v1/

# Outputs
outputs/models/
outputs/*.npy
outputs/*.csv

# Keep visible result folders
!outputs/binary_resnet/
!outputs/dataset_analysis/
!outputs/multiclass_resnet/
!outputs/multiclass_efficientnet/